In [ ]:
import pandas as pd
import numpy as np
import requests
import geopandas as gpd

In [ ]:
hd = pd.read_csv("https://data.cityofchicago.org/resource/4ijn-s7e5.csv?$limit=500000")
# you can use any of these
ward = gpd.read_file('https://data.cityofchicago.org/api/geospatial/sp34-6z76?method=export&format=GeoJSON')
police = gpd.read_file('https://data.cityofchicago.org/api/geospatial/fthy-xz3r?method=export&format=GeoJSON')

In [121]:
yearly_data = pd.read_csv('/content/data-1UWqG.csv')

inspection per year chart

https://datawrapper.dwcdn.net/1UWqG/3/

In [122]:
monthly_data = pd.read_csv('/content/data-C7pyP.csv')

inspections per month chart

https://datawrapper.dwcdn.net/C7pyP/1/

In [125]:
print(yearly_data)

     X.1    X.2
0   2024   5039
1   2023  18262
2   2022  16936
3   2021  15868
4   2020  15123
5   2019  19052
6   2018  17192
7   2017  21587
8   2016  22818
9   2015  20911
10  2014  21540
11  2013  20948
12  2012  18866
13  2011  18747
14  2010  18067

In [126]:
print(monthly_data)

          X.1    X.2
0     January  21713
1    February  20300
2       March  24641
3       April  23006
4         May  24068
5        June  24084
6        July  19779
7      August  23703
8   September  24069
9     October  24534
10   November  21463
11   December  19596

In [ ]:
hd['inspection_date'] = pd.to_datetime(hd['inspection_date'])

In [ ]:
hd['inspection_date'].dt.year

0         2024
1         2024
2         2024
3         2024
4         2024
          ...
270951    2010
270952    2010
270953    2010
270954    2010
270955    2010
Name: inspection_date, Length: 270956, dtype: int32

In [ ]:
year_to_filter = 2024

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

0      2024-04-19
1      2024-04-19
2      2024-04-19
3      2024-04-19
4      2024-04-19
          ...
5034   2024-01-04
5035   2024-01-02
5036   2024-01-02
5037   2024-01-02
5038   2024-01-02
Name: inspection_date, Length: 5039, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2023

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

5039    2023-12-29
5040    2023-12-29
5041    2023-12-29
5042    2023-12-29
5043    2023-12-29
           ...
23296   2023-01-03
23297   2023-01-03
23298   2023-01-03
23299   2023-01-03
23300   2023-01-03
Name: inspection_date, Length: 18262, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2022

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

23301   2022-12-30
23302   2022-12-30
23303   2022-12-30
23304   2022-12-30
23305   2022-12-30
           ...
40232   2022-01-04
40233   2022-01-04
40234   2022-01-04
40235   2022-01-04
40236   2022-01-03
Name: inspection_date, Length: 16936, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2021

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

40237   2021-12-30
40238   2021-12-30
40239   2021-12-30
40240   2021-12-30
40241   2021-12-30
           ...
56100   2021-01-04
56101   2021-01-04
56102   2021-01-04
56103   2021-01-04
56104   2021-01-04
Name: inspection_date, Length: 15868, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2020

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

56105   2020-12-31
56106   2020-12-31
56107   2020-12-31
56108   2020-12-31
56109   2020-12-31
           ...
71223   2020-01-02
71224   2020-01-02
71225   2020-01-02
71226   2020-01-02
71227   2020-01-02
Name: inspection_date, Length: 15123, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2019

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

71228   2019-12-31
71229   2019-12-31
71230   2019-12-31
71231   2019-12-31
71232   2019-12-31
           ...
90275   2019-01-02
90276   2019-01-02
90277   2019-01-02
90278   2019-01-02
90279   2019-01-02
Name: inspection_date, Length: 19052, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2018

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

90280    2018-12-31
90281    2018-12-31
90282    2018-12-31
90283    2018-12-31
90284    2018-12-31
            ...
107467   2018-01-02
107468   2018-01-02
107469   2018-01-02
107470   2018-01-02
107471   2018-01-02
Name: inspection_date, Length: 17192, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2017

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

107472   2017-12-29
107473   2017-12-29
107474   2017-12-29
107475   2017-12-29
107476   2017-12-29
            ...
129054   2017-01-03
129055   2017-01-03
129056   2017-01-03
129057   2017-01-03
129058   2017-01-03
Name: inspection_date, Length: 21587, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2016

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

129059   2016-12-30
129060   2016-12-30
129061   2016-12-30
129062   2016-12-30
129063   2016-12-30
            ...
151872   2016-01-05
151873   2016-01-05
151874   2016-01-04
151875   2016-01-04
151876   2016-01-04
Name: inspection_date, Length: 22818, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2015

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

151877   2015-12-31
151878   2015-12-31
151879   2015-12-31
151880   2015-12-31
151881   2015-12-31
            ...
172783   2015-01-02
172784   2015-01-02
172785   2015-01-02
172786   2015-01-02
172787   2015-01-02
Name: inspection_date, Length: 20911, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2014

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

172788   2014-12-31
172789   2014-12-31
172790   2014-12-31
172791   2014-12-31
172792   2014-12-31
            ...
194323   2014-01-02
194324   2014-01-02
194325   2014-01-02
194326   2014-01-02
194327   2014-01-02
Name: inspection_date, Length: 21540, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2013

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

194328   2013-12-31
194329   2013-12-31
194330   2013-12-31
194331   2013-12-31
194332   2013-12-31
            ...
215271   2013-01-02
215272   2013-01-02
215273   2013-01-02
215274   2013-01-02
215275   2013-01-02
Name: inspection_date, Length: 20948, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2012

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

215276   2012-12-31
215277   2012-12-31
215278   2012-12-31
215279   2012-12-31
215280   2012-12-31
            ...
234137   2012-01-03
234138   2012-01-03
234139   2012-01-03
234140   2012-01-03
234141   2012-01-03
Name: inspection_date, Length: 18866, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2011

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

234142   2011-12-30
234143   2011-12-30
234144   2011-12-30
234145   2011-12-30
234146   2011-12-30
            ...
252884   2011-01-04
252885   2011-01-04
252886   2011-01-04
252887   2011-01-04
252888   2011-01-04
Name: inspection_date, Length: 18747, dtype: datetime64[ns]

In [ ]:
year_to_filter = 2010

In [ ]:
values_for_year = hd[hd['inspection_date'].dt.year == year_to_filter]['inspection_date']

In [ ]:
print(values_for_year)

252889   2010-12-30
252890   2010-12-30
252891   2010-12-30
252892   2010-12-30
252893   2010-12-30
            ...
270951   2010-01-04
270952   2010-01-04
270953   2010-01-04
270954   2010-01-04
270955   2010-01-04
Name: inspection_date, Length: 18067, dtype: datetime64[ns]

In [ ]:
month_to_filter = 1

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

3672     2024-01-31
3673     2024-01-31
3674     2024-01-31
3675     2024-01-31
3676     2024-01-31
            ...
270951   2010-01-04
270952   2010-01-04
270953   2010-01-04
270954   2010-01-04
270955   2010-01-04
Name: inspection_date, Length: 21713, dtype: datetime64[ns]

In [ ]:
month_to_filter = 2

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

2327     2024-02-29
2328     2024-02-29
2329     2024-02-29
2330     2024-02-29
2331     2024-02-29
            ...
269672   2010-02-01
269673   2010-02-01
269674   2010-02-01
269675   2010-02-01
269676   2010-02-01
Name: inspection_date, Length: 20300, dtype: datetime64[ns]

In [ ]:
month_to_filter = 3

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

870      2024-03-29
871      2024-03-29
872      2024-03-29
873      2024-03-29
874      2024-03-29
            ...
268273   2010-03-02
268274   2010-03-02
268275   2010-03-02
268276   2010-03-02
268277   2010-03-02
Name: inspection_date, Length: 24641, dtype: datetime64[ns]

In [ ]:
month_to_filter = 4

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

0        2024-04-19
1        2024-04-19
2        2024-04-19
3        2024-04-19
4        2024-04-19
            ...
266793   2010-04-01
266794   2010-04-01
266795   2010-04-01
266796   2010-04-01
266797   2010-04-01
Name: inspection_date, Length: 23006, dtype: datetime64[ns]

In [ ]:
month_to_filter = 5

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

15902    2023-05-31
15903    2023-05-31
15904    2023-05-31
15905    2023-05-31
15906    2023-05-31
            ...
265355   2010-05-03
265356   2010-05-03
265357   2010-05-03
265358   2010-05-03
265359   2010-05-03
Name: inspection_date, Length: 24068, dtype: datetime64[ns]

In [ ]:
month_to_filter = 6

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

14370    2023-06-30
14371    2023-06-30
14372    2023-06-30
14373    2023-06-30
14374    2023-06-30
            ...
263813   2010-06-01
263814   2010-06-01
263815   2010-06-01
263816   2010-06-01
263817   2010-06-01
Name: inspection_date, Length: 24084, dtype: datetime64[ns]

In [ ]:
month_to_filter = 7

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

13212    2023-07-31
13213    2023-07-31
13214    2023-07-31
13215    2023-07-31
13216    2023-07-31
            ...
262049   2010-07-01
262050   2010-07-01
262051   2010-07-01
262052   2010-07-01
262053   2010-07-01
Name: inspection_date, Length: 19779, dtype: datetime64[ns]

In [ ]:
month_to_filter = 8

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

11471    2023-08-31
11472    2023-08-31
11473    2023-08-31
11474    2023-08-31
11475    2023-08-31
            ...
260725   2010-08-02
260726   2010-08-02
260727   2010-08-02
260728   2010-08-02
260729   2010-08-02
Name: inspection_date, Length: 23703, dtype: datetime64[ns]

In [ ]:
month_to_filter = 9

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

9936     2023-09-29
9937     2023-09-29
9938     2023-09-29
9939     2023-09-29
9940     2023-09-29
            ...
259058   2010-09-01
259059   2010-09-01
259060   2010-09-01
259061   2010-09-01
259062   2010-09-01
Name: inspection_date, Length: 24069, dtype: datetime64[ns]

In [ ]:
month_to_filter = 10

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

8142     2023-10-31
8143     2023-10-31
8144     2023-10-31
8145     2023-10-31
8146     2023-10-31
            ...
257270   2010-10-01
257271   2010-10-01
257272   2010-10-01
257273   2010-10-01
257274   2010-10-01
Name: inspection_date, Length: 24534, dtype: datetime64[ns]

In [ ]:
month_to_filter = 11

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

6496     2023-11-30
6497     2023-11-30
6498     2023-11-30
6499     2023-11-30
6500     2023-11-30
            ...
255456   2010-11-01
255457   2010-11-01
255458   2010-11-01
255459   2010-11-01
255460   2010-11-01
Name: inspection_date, Length: 21463, dtype: datetime64[ns]

In [ ]:
month_to_filter = 12

In [ ]:
values_for_month = hd[hd['inspection_date'].dt.month == month_to_filter]['inspection_date']

In [ ]:
print(values_for_month)

5039     2023-12-29
5040     2023-12-29
5041     2023-12-29
5042     2023-12-29
5043     2023-12-29
            ...
254162   2010-12-01
254163   2010-12-01
254164   2010-12-01
254165   2010-12-01
254166   2010-12-01
Name: inspection_date, Length: 19596, dtype: datetime64[ns]