In [9]:
import pandas as pd
import numpy as np
import requests
import geopandas as gpd

In [ ]:
hd = pd.read_csv("https://data.cityofchicago.org/resource/4ijn-s7e5.csv?$limit=500000")
# you can use any of these
ward = gpd.read_file('https://data.cityofchicago.org/api/geospatial/sp34-6z76?method=export&format=GeoJSON')
police = gpd.read_file('https://data.cityofchicago.org/api/geospatial/fthy-xz3r?method=export&format=GeoJSON')

In [ ]:
hd.head()

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location
0,2593062,TEENY TINY UNIVERSITY,TEENY TINY UNIVERSITY,2517601.0,Daycare Above and Under 2 Years,Risk 1 (High),6111 S COTTAGE GROVE AVE,CHICAGO,IL,60637.0,2024-04-19T00:00:00.000,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.783684,-87.605855,"(41.78368442665007, -87.6058547469109)"
1,2593052,NYC HALAL EATS ILLINOIS LLC,NYC HALAL EATS ILLINOIS LLC,2961706.0,Restaurant,Risk 2 (Medium),2657 W DEVON AVE,CHICAGO,IL,60659.0,2024-04-19T00:00:00.000,License Re-Inspection,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.997495,-87.697056,"(41.99749525704475, -87.69705608404989)"
2,2593066,91st South Chicago Apts.,MAHALIA JACKSON,2046644.0,Golden Diner,Risk 1 (High),9177 S SOUTH CHICAGO AVE,CHICAGO,IL,60617.0,2024-04-19T00:00:00.000,Canvass,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.728634,-87.553603,"(41.72863395838726, -87.55360264844659)"
3,2593064,CHRISTIAN L-E-G EARLY LEARNING CENTER,CHRISTIAN L-E-G EARLY LEARNING CENTER,2363607.0,Children's Services Facility,Risk 1 (High),446-448 E 43RD ST,CHICAGO,IL,60653.0,2024-04-19T00:00:00.000,Canvass,Pass,51. PLUMBING INSTALLED; PROPER BACKFLOW DEVICE...,41.816782,-87.614640,"(41.81678222761027, -87.61463973808141)"
4,2593058,MAKKI MART CORP,MAKKI MART,2550262.0,Grocery Store,Risk 2 (Medium),2440 W DEVON AVE,CHICAGO,IL,60659.0,2024-04-19T00:00:00.000,Complaint Re-Inspection,Fail,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.997814,-87.691506,"(41.99781439642854, -87.69150610963688)"

In [ ]:
hd['inspection_date'].dtype

dtype('O')

In [ ]:
hd['inspection_date'] = pd.to_datetime(hd['inspection_date'])

In [ ]:
hd['inspection_date'].dtype

dtype('<M8[ns]')

In [ ]:
hd['inc_year'] = hd['inspection_date'].dt.year
hd['inc_month'] = hd['inspection_date'].dt.month
hd['inc_day'] = hd['inspection_date'].dt.day

In [ ]:
type('inspection_date')

str

In [ ]:
df = pd.DataFrame({'inspection_date': ['2020-01-01', '2020-02-02', '2021-03-03'],
                   'inc_year': [2020, 2020, 2021]})

In [ ]:
grouped_data = df.groupby('inc_year')

In [ ]:
print(grouped_data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x792c1b79f160>

In [ ]:
'inspection_date'.groupby('inc_year')

AttributeError: 'str' object has no attribute 'groupby'

In [ ]:
hd.head()

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location,inspection_year
0,2593062,TEENY TINY UNIVERSITY,TEENY TINY UNIVERSITY,2517601.0,Daycare Above and Under 2 Years,Risk 1 (High),6111 S COTTAGE GROVE AVE,CHICAGO,IL,60637.0,2024-04-19,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.783684,-87.605855,"(41.78368442665007, -87.6058547469109)",2024
1,2593052,NYC HALAL EATS ILLINOIS LLC,NYC HALAL EATS ILLINOIS LLC,2961706.0,Restaurant,Risk 2 (Medium),2657 W DEVON AVE,CHICAGO,IL,60659.0,2024-04-19,License Re-Inspection,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.997495,-87.697056,"(41.99749525704475, -87.69705608404989)",2024
2,2593066,91st South Chicago Apts.,MAHALIA JACKSON,2046644.0,Golden Diner,Risk 1 (High),9177 S SOUTH CHICAGO AVE,CHICAGO,IL,60617.0,2024-04-19,Canvass,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.728634,-87.553603,"(41.72863395838726, -87.55360264844659)",2024
3,2593064,CHRISTIAN L-E-G EARLY LEARNING CENTER,CHRISTIAN L-E-G EARLY LEARNING CENTER,2363607.0,Children's Services Facility,Risk 1 (High),446-448 E 43RD ST,CHICAGO,IL,60653.0,2024-04-19,Canvass,Pass,51. PLUMBING INSTALLED; PROPER BACKFLOW DEVICE...,41.816782,-87.614640,"(41.81678222761027, -87.61463973808141)",2024
4,2593058,MAKKI MART CORP,MAKKI MART,2550262.0,Grocery Store,Risk 2 (Medium),2440 W DEVON AVE,CHICAGO,IL,60659.0,2024-04-19,Complaint Re-Inspection,Fail,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.997814,-87.691506,"(41.99781439642854, -87.69150610963688)",2024

In [ ]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270956 entries, 0 to 270955
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   inspection_id    270956 non-null  int64
 1   dba_name         270956 non-null  object
 2   aka_name         268484 non-null  object
 3   license_         270938 non-null  float64
 4   facility_type    265814 non-null  object
 5   risk             270873 non-null  object
 6   address          270956 non-null  object
 7   city             270795 non-null  object
 8   state            270897 non-null  object
 9   zip              270905 non-null  float64
 10  inspection_date  270956 non-null  datetime64[ns]
 11  inspection_type  270955 non-null  object
 12  results          270956 non-null  object
 13  violations       196645 non-null  object
 14  latitude         270018 non-null  float64
 15  longitude        270018 non-null  float64
 16  location         270018 non-null  object
 17  inspection_year  270956 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(1), object(11)
memory usage: 36.2+ MB

In [ ]:
hd['inspection_date'] = pd.to_datetime(hd['inspection_date'])

In [ ]:
hd['inspection_date'].dt.month

0         4
1         4
2         4
3         4
4         4
         ..
270951    1
270952    1
270953    1
270954    1
270955    1
Name: inspection_date, Length: 270956, dtype: int32

In [ ]:
hd['inspection_date'].dt.year

0         2024
1         2024
2         2024
3         2024
4         2024
          ...
270951    2010
270952    2010
270953    2010
270954    2010
270955    2010
Name: inspection_date, Length: 270956, dtype: int32

In [ ]:
hd['inspection_date'].dt.year == 2024

0          True
1          True
2          True
3          True
4          True
          ...
270951    False
270952    False
270953    False
270954    False
270955    False
Name: inspection_date, Length: 270956, dtype: bool

In [ ]:
hd['inspection_date'].dt.year == 2024

In [ ]:
hd['inspection_date'].dt.month == 1

0         False
1         False
2         False
3         False
4         False
          ...
270951     True
270952     True
270953     True
270954     True
270955     True
Name: inspection_date, Length: 270956, dtype: bool

In [ ]:
hd["inspection_date"].head()

0   2024-04-17
1   2024-04-17
2   2024-04-16
3   2024-04-16
4   2024-04-16
Name: inspection_date, dtype: datetime64[ns]

In [ ]:
hd["inspection_date"] = pd.to_datetime(hd["inspection_date"])

In [ ]:
hd['month'] = pd.to_datetime(hd['inspection_date']).dt.month

In [ ]:
hd.sort_values(by=['inspection_date', 'month'], inplace=True)

In [ ]:
hd['hd_year'] = hd['inspection_date'].dt.year

In [ ]:
hd['hd_year'].head()

270629    2010
270630    2010
270631    2010
270632    2010
270633    2010
Name: hd_year, dtype: int32

In [ ]:
hd['hd_year'] = hd['inspection_date'].dt.year
hd['hd_month'] = hd['inspection_date'].dt.month
hd['hd_day'] = hd['inspection_date'].dt.day

In [ ]:
hd['hd_month'].head()

0    4
1    4
2    4
3    4
4    4
Name: hd_month, dtype: int32

In [ ]:
hd['hd_month'].sort_values()

270629     1
55512      1
55513      1
55514      1
55515      1
          ..
195175    12
195174    12
195173    12
23488     12
174034    12
Name: hd_month, Length: 270636, dtype: int32

In [ ]:
hd['hd_month'].sort_values() == 1

270805     True
193518     True
193519     True
193520     True
193521     True
          ...
173944    False
173943    False
173942    False
173912    False
40088     False
Name: hd_month, Length: 270806, dtype: bool

In [ ]:
hd['hd_year'].sort_values()

270629    2010
258655    2010
258656    2010
258657    2010
258658    2010
          ...
3178      2024
3177      2024
3176      2024
3192      2024
0         2024
Name: hd_year, Length: 270636, dtype: int32

In [ ]:
print(day_true == True)

142319     True
189513     True
189512     True
189511     True
189510     True
          ...
66348     False
66347     False
66346     False
66344     False
69246     False
Name: hd_day, Length: 270636, dtype: bool

In [ ]:
(hd['hd_month'].sort_values() == 1) == True

270805     True
193518     True
193519     True
193520     True
193521     True
          ...
173944    False
173943    False
173942    False
173912    False
40088     False
Name: hd_month, Length: 270806, dtype: bool

In [ ]:
hd['inspection_date'].dt.year

0         2024
1         2024
2         2024
3         2024
4         2024
          ...
270631    2010
270632    2010
270633    2010
270634    2010
270635    2010
Name: inspection_date, Length: 270636, dtype: int32

In [ ]:
hd['inspection_date'].dt.day

0         15
1         12
2         12
3         12
4         12
          ..
270631     4
270632     4
270633     4
270634     4
270635     4
Name: inspection_date, Length: 270636, dtype: int32

In [ ]:
hd('inspection_date')[pd.to_datetime(hd.index).year == 2024]

TypeError: 'DataFrame' object is not callable

In [ ]:
hd.index = pd.to_datetime(hd.index)

In [ ]:
hd[hd.index.year == 2024]

Empty DataFrame
Columns: [inspection_id, dba_name, aka_name, license_, facility_type, risk, address, city, state, zip, inspection_date, inspection_type, results, violations, latitude, longitude, location, month, hd_year, hd_month, hd_day]
Index: []

[0 rows x 21 columns]

In [ ]:
hd["inspection_date"]

1970-01-01 00:00:00.000000000   2024-04-17
1970-01-01 00:00:00.000000001   2024-04-17
1970-01-01 00:00:00.000000002   2024-04-16
1970-01-01 00:00:00.000000003   2024-04-16
1970-01-01 00:00:00.000000004   2024-04-16
                                   ...
1970-01-01 00:00:00.000270801   2010-01-04
1970-01-01 00:00:00.000270802   2010-01-04
1970-01-01 00:00:00.000270803   2010-01-04
1970-01-01 00:00:00.000270804   2010-01-04
1970-01-01 00:00:00.000270805   2010-01-04
Name: inspection_date, Length: 270806, dtype: datetime64[ns]

In [ ]:
hd["inspection_date"].dt.year = 1

ValueError: modifications to a property of a datetimelike object are not supported. Change values on the original.

In [ ]:
hd['inspection_year'] = hd['inspection_date'].dt.year

In [ ]:
hd['inspection_date'] = pd.to_datetime(hd['inspection_date'])

In [ ]:
year_values = hd[hd['inspection_date'] == 2024]

In [ ]:
print(year_values)

Empty DataFrame
Columns: [inspection_id, dba_name, aka_name, license_, facility_type, risk, address, city, state, zip, inspection_date, inspection_type, results, violations, latitude, longitude, location, inspection_year]
Index: []

In [ ]:
'year_values' == pd.to_datetime('year_values')

DateParseError: Unknown datetime string format, unable to parse: year_values, at position 0

In [ ]:
hd['inspection_date'] = pd.to_datetime(hd['inspection_date'])